<a href="https://colab.research.google.com/github/candia-julian/data-analysis/blob/data-analysis-(HUMAI)/resoluci%C3%B3n_ejercicio_escuelas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/institutohumai/cursos-python/blob/master/AnalisisDeDatos/1_Indexing/ejercicio/ejercicio.ipynb"> <img src='https://colab.research.google.com/assets/colab-badge.svg' /> </a>
<div align="center"> Recordá abrir en una nueva pestaña </div>


Para este ejercicio vamos a importar un conjunto de datos con el listado de colegios públicos de Bogotá del año 2016

# Ejercicios Pandas I

In [ ]:
import pandas as pd

In [ ]:
df_colegios = pd.read_csv('https://www.datos.gov.co/api/views/qijw-htwa/rows.csv?accessType=DOWNLOAD')

¿Cuáles son las columnas? ¿Cuántas filas tiene?

In [ ]:
df_colegios.columns

Index(['año', 'secretaria', 'nombreestablecimiento', 'zona', 'direccion',
       'telefono', 'nombre_Rector', 'tipo_Establecimiento', 'etnias', 'sector',
       'genero', 'niveles', 'jornadas', 'caracter', 'especialidad', 'grados',
       'modelos_Educativos', 'capacidades_Excepcionales', 'discapacidades',
       'idiomas', 'numero_de_Sedes', 'estado', 'prestador_de_Servicio',
       'propiedad_Planta_Fisica', 'resguardo', 'matricula_Contratada',
       'calendario', 'internado', 'estrato_Socio_Economico',
       'correo_Electronico'],
      dtype='object')

In [ ]:
df_colegios.shape

(2404, 30)

In [ ]:
df_colegios.sample(5)

,año,secretaria,nombreestablecimiento,zona,direccion,telefono,nombre_Rector,tipo_Establecimiento,etnias,sector,...,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,resguardo,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
2395,2016,BOGOTA,LIC PEDAG CIENCIA Y CULTURA ...,URBANA,CR. 114 NO.152B-63,5366698,CLARA MARIA DIAZ ROMERO,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
119,2016,BOGOTA,LIC Y JARD INF FANTASIAS DE PIOLIN ...,URBANA,KR 84 70 09 SUR,7758465,GLADYS REY RAMIREZ,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,CAJA DE COMPENSACIÓN,CAJA DE COMPENSACIÓN,NO APLICA,NO,A,NaN,NaN,NaN
2165,2016,BOGOTA,JARDIN INFANTIL MIS SABIOS BUROSITOS,URBANA,CL 82 109 04,4420077,FLOR ESTHER LEAL LEAL,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,burusitospreschool90@hotmail.com
1671,2016,BOGOTA,COLEGIO MAGDALENA ORTEGA DE NARIÑO (IED),URBANA,KR 69 B 78 A 36,2400968 -- 2256492,EMILIA MARCELA LATORRE HERRERA,INSTITUCION EDUCATIVA,NaN,NaN,...,2,NaN,OFICIAL,OFICIAL,NO APLICA,NO,A,NaN,NaN,colmagdalenaortega10@redp.edu.co -- lnalmagdal...
1564,2016,BOGOTA,COL COLOMBO JAPONES ...,URBANA,CL 63 SUR 77 M 66,7803872 -- 7803873 -- 7803870,MARLEN JACQUELINE GONZALEZ RONCANCIO,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,SI,A,NaN,NaN,int_coljap@hotmail.com ...

Seleccionen los colegios donde la propiedad de la planta física sea de una persona natural o comunidad religiosa.

In [ ]:
df_colegios.internado.unique

<bound method Series.unique of 0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
2399   NaN
2400   NaN
2401   NaN
2402   NaN
2403   NaN
Name: internado, Length: 2404, dtype: float64>

In [ ]:
df_colegios.query("propiedad_Planta_Fisica == 'PERSONA NATURAL' or propiedad_Planta_Fisica == 'COMUNIDAD RELIGIOSA'")

,año,secretaria,nombreestablecimiento,zona,direccion,telefono,nombre_Rector,tipo_Establecimiento,etnias,sector,...,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,resguardo,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
0,2016,BOGOTA,INST DE BTO TEC COMERCIAL PITAGORAS ...,URBANA,KR 5 11 67,5665677 / 3429092,YOLANDA ARIAS CRUZ,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,pitagoras@pitagoras.edu.co
1,2016,BOGOTA,GIMNASIO INFANTIL FEDERICO FROEBEL,URBANA,CL 32 SUR 52 A 54,7100349,SANDRA MILENA MENDEZ,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,gimfedebel@hotmail.com
2,2016,BOGOTA,GIMNASIO INFANTIL LOS NIÑOS DEL MAÑANA,URBANA,CL 134 D 47 27,6010350,CLAUDIA BOCACHICA SAENZ,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,claudialindenibocachica@hotmail.com
4,2016,BOGOTA,COL SAN JUAN VIANETH ...,URBANA,KR 2 C 3 18 SUR,2804738 -- 4714934,GLORIA ESPERANZA CHUQUIN LAISECA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,colegiosanjuanviateh@hotmail.com -- colegiosan...
5,2016,BOGOTA,COL SAN PATRICIO ...,URBANA,KR 80 137 02,6838640 -- 6815357,PAULINA ENCINALES DE SANJINES,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,correo@colegiodesanpatricio.edu.co
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399,2016,BOGOTA,COLEGIO SAN JOSE DE CALASANZ,URBANA,CL 129 88 B 35,6854492 -- 6854495 -- 6803549,GLADIS CUÉLLAR IBAÑEZ,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,COMUNIDAD RELIGIOSA,COMUNIDAD RELIGIOSA,NO APLICA,NO,A,NaN,NaN,csjcsuba@yahoo.es
2400,2016,BOGOTA,COL NUEVO REINO DE TURINGIA,URBANA,KR 103 B 152 C 34,6830915,RUTH CECILIA CORREA FAJARDO,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,jibnuevoreinodeturingia@hotmail.com - ruth_cec...
2401,2016,BOGOTA,LIC INF GOOFY ...,URBANA,CL 65 F SUR 78 C 32,7761739 / 7762538 / 7753157 /8045802,SANDRA PATRICIA SANTAMARIA OVALLE,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,pattysantaco@yahoo.com directoragoofy@gmail....
2402,2016,BOGOTA,LIC APRENDO CON MIS AMIGOS ...,URBANA,CR. 94 NO.29-30,2671099,YANNETH CONSUELO BOLIVAR GAITAN,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
2403,2016,BOGOTA,JARD INF EL ROSAL DE MI INFANCIA ...,URBANA,TR. 56A NO.45-18 SUR,7242172,ADALGIZA LADINO,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,adalgizaladino@hotmail.com ...

¿Hay alguno de estos colegios que sea para capacidades excepcionales?

In [ ]:
df_colegios.pivot_table(
    index = ["capacidades_Excepcionales"],
    values = ["nombreestablecimiento"],
    aggfunc = "count"
)

                                                    direccion
capacidades_Excepcionales
CAPACIDADES EXCEPCIONALES                                   6
TALENTO CIENTIFICO                                          1
TALENTO CIENTIFICO,TALENTO TECNOLOGICO,TALENTO ...          1
TALENTO SUBJETIVO/ARTÍSTICO                                 2

In [ ]:
df_colegios["capacidades_Excepcionales"].unique()

array([nan, 'CAPACIDADES EXCEPCIONALES',
       'TALENTO CIENTIFICO,TALENTO TECNOLOGICO,TALENTO SUBJETIVO/ARTÍSTICO',
       'TALENTO SUBJETIVO/ARTÍSTICO', 'TALENTO CIENTIFICO'], dtype=object)

¿Cuáles son los colegios que ofrecen todos los niveles educativos? ¿Qué idiomas ofrecen?

In [ ]:
df_colegios.query("capacidades_Excepcionales == 'CAPACIDADES EXCEPCIONALES'").count()

año                          6
secretaria                   6
nombreestablecimiento        6
zona                         6
direccion                    6
telefono                     6
nombre_Rector                6
tipo_Establecimiento         6
etnias                       1
sector                       0
genero                       0
niveles                      6
jornadas                     6
caracter                     0
especialidad                 6
grados                       6
modelos_Educativos           6
capacidades_Excepcionales    6
discapacidades               6
idiomas                      4
numero_de_Sedes              6
estado                       0
prestador_de_Servicio        6
propiedad_Planta_Fisica      6
resguardo                    6
matricula_Contratada         6
calendario                   6
internado                    0
estrato_Socio_Economico      0
correo_Electronico           6
dtype: int64

In [ ]:
df_colegios.pivot_table(
    index = ["niveles"],
    values = ["nombreestablecimiento"],
    aggfunc = "count"
)

                                                    nombreestablecimiento
niveles
BÁSICA PRIMARIA                                                        26
BÁSICA SECUNDARIA,BÁSICA PRIMARIA                                       1
BÁSICA SECUNDARIA,MEDIA                                                 1
BÁSICA SECUNDARIA,MEDIA,BÁSICA PRIMARIA                                 2
MEDIA                                                                   6
MEDIA,BÁSICA SECUNDARIA                                                81
MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA                               135
MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA,PRIMERA...                      1
PREESCOLAR                                                            456
PREESCOLAR,BÁSICA PRIMARIA                                            491
PREESCOLAR,BÁSICA SECUNDARIA                                            3
PREESCOLAR,BÁSICA SECUNDARIA,BÁSICA PRIMARIA                           95
PREESCOLAR,BÁSICA SECUNDARIA,MEDIA,BÁSICA PRIMARIA                      9
PREESCOLAR,MEDIA                                                        1
PREESCOLAR,MEDIA,BÁSICA PRIMARIA                                        4
PREESCOLAR,MEDIA,BÁSICA SECUNDARIA                                      3
PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA                   1068
PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMA...                      5

In [ ]:
df_colegios.pivot_table(
    index = ["idiomas", "niveles"],
    values = ["nombreestablecimiento"],
    aggfunc = "count"
)

                                                                          nombreestablecimiento
idiomas               niveles
ALEMAN,FRANCES        PREESCOLAR                                                              1
                      PREESCOLAR,BÁSICA PRIMARIA                                              2
                      PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA                      4
FRANCES               MEDIA,BÁSICA SECUNDARIA                                                 1
                      MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA                                 1
                      PREESCOLAR                                                             19
                      PREESCOLAR,BÁSICA PRIMARIA                                             12
                      PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA                     21
HEBREO                MEDIA,BÁSICA SECUNDARIA                                                 1
                      MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA                                 2
                      PREESCOLAR                                                              7
                      PREESCOLAR,BÁSICA PRIMARIA                                              8
                      PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA                     11
INGLÉS                BÁSICA PRIMARIA                                                        13
                      BÁSICA SECUNDARIA,BÁSICA PRIMARIA                                       1
                      BÁSICA SECUNDARIA,MEDIA                                                 1
                      MEDIA                                                                   1
                      MEDIA,BÁSICA SECUNDARIA                                                22
                      MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA                                36
                      MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA,PRIMERA...                      1
                      PREESCOLAR                                                            195
                      PREESCOLAR,BÁSICA PRIMARIA                                            234
                      PREESCOLAR,BÁSICA SECUNDARIA                                            1
                      PREESCOLAR,BÁSICA SECUNDARIA,BÁSICA PRIMARIA                           39
                      PREESCOLAR,MEDIA,BÁSICA PRIMARIA                                        2
                      PREESCOLAR,MEDIA,BÁSICA SECUNDARIA                                      1
                      PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA                    262
                      PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMA...                      2
INGLÉS,ALEMAN,FRANCES PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA                      1
INGLÉS,FRANCES        MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA                                 1
                      PREESCOLAR                                                              9
                      PREESCOLAR,BÁSICA PRIMARIA                                              3
                      PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA                     24
ITALIANO              PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA                      1